*{
  margin: 0px;
  padding: 0px;
}

.container{
  margin-top:20px;
  border-style: outset;
  background-color: #fff;
  padding-right: 0px;
}
button {
  margin-right: 10px;
  border-style: hidden;
  background-color: rgba(0, 132, 255, 0.61);
  color: #fff;
}

.navTitle{
  font-size: 32px;
  text-decoration: none;
  color: white;
  margin-right: 40px;
}

.images {
  width:25%;
  height:25%;
}
a {
  text-decoration: none;
}
.detailButton{
  background-color: green;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}